.topbar {
    position: fixed;
    top:0;
    z-index: 10;
    width: 100%;
    padding-top: 1em;
    background-color: var(--background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: ease-in-out 0.1s;
}
.topbar * {
    transition: ease-in-out 0.1s;
}

.topbar + * {
    position: relative;
    top:4em;
}
.topbar-content {
    height: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    flex-wrap: wrap;
}
.topbar-content > * {
    height: 2.5em;
    margin-right: 0.8em;
    margin-bottom: 0.5em;

}
.topbar-content > *:last-child {
    margin-right: 0;
}
.topbar-content .link {
    flex-shrink: 0;
    border: 1px solid var(--accent1);
    background-color: var(--accent2);
    border-radius: 2em;
    padding: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    display: block;
    margin-right: 2em;
    transition: none;
}
.logo > *{
    display: block;
    width: 180px;
    height: 100%;
}
.topbar .active {
    background-color: var(--accent1);
    color: var(--accent2);
    font-weight: 500;
}
@media only screen and (max-width: 720px) {
    .logo {
      width: 100%;
    }
  }