/* general */
.flex {
  display: flex;
}
.cursor-pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

/* rating section */
.vp-byrating-wrapper {
  margin: 2em 0 3em;
  overflow: hidden;
  border-radius: 1em;
}

.vp-byrating-wrapper .rating-container {
  margin: 0px 1px 5px;
}

.vp-byrating-section {
  align-items: center;
  justify-content: flex-start;
}

.vp-byrating-select {
  /* replace default styles arrow */
  border: 0;
  -webkit-appearance: none;
  appearance: none;
  /* select menu - add custom styling */
  font-family: sans-serif;
  outline: none;
  margin-left: 15px;
  padding: 0.7em;
  font-size: 1.17em;
  font-weight: bold;
  align-items: center;
  /* Chevron-variant 1 (https://www.w3schools.com/graphics/svg_polygon.asp | https://css-tricks.com/probably-dont-base64-svg/) */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666;" /></svg>');
  /* Chevron-variant2 (https://heroicons.com/) */
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" /></svg>'); */
  background-position: right top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
}

.vp-byrating-select option {
  background-color: #ccc;
  color: var(--accent1);
  background-color: var(--accent2);
}

.vp-byrating-select:focus,
.vp-byrating-select:hover {
  outline: none;
}
