.post-card-container {
  position: relative;
  text-align: left;
  color: white;
}

.post-card-container:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  border-radius: 5px;
}

.post-card-container:hover:after {
  opacity: 1;
}

.post-card-container:hover > a > div {
  opacity: 1;
}

.post-card-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  opacity: 0;
  z-index: 5;
}

.post-card-text p {
  width: 90%;
  font-weight: bold;
}

.post-card-image {
  width: 19.5vw;
  max-height: 400px;
  min-width: 150px;
  border-radius: 5px;
  object-fit: cover;
}
