.post-card-container {
  display: block;
  position: relative;
  color: white;
  border-radius: 1em;
  overflow: hidden;
}

.post-card-container:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
  border-radius: inherit;
}
.post-card-container:hover:after {
  opacity: 1;
}
.post-card-container:hover .post-card-text {
  opacity: 1;
}
.post-card-link {
  display: block;
}

.post-card-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  opacity: 0;
  z-index: 5;
  width: 90%;
}

.post-card-text h3 {
  margin-left: 7px;
  color: var(--accent2);
  letter-spacing: 0.05em;
}

.post-card-image {
  display: block;
  width: 100%;
  border-radius: inherit;
}
