.post-grid-stack {
  margin-top: 2em;
}

.post-grid-masonry {
  display: flex;
}
.post-grid-column {
  padding-left: 1em;
}
.post-grid-column:first-child {
  padding-left: 0;
}

.post-grid-column > * {
  margin-bottom: 1em;
}
