.view-user-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
}

.view-user-info {
  width: 13em;
}

.view-user-avatar {
  width: 13em;
  height: 13em;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid var(--accent1);
}

.view-user-center {
  text-align: center;
}

.view-user-line {
  border-bottom: 1px solid var(--accent1);
  margin-top: 4em;
  margin-bottom: 7em;
}

.view-user-flex h3 {
  margin-block-start: 3em;
  margin-block-end: 0em;
  text-align: center;
}
