.user-link {
  display: flex;
  margin-top: 1em;
  align-items: center;
  text-align: left;
}

.user-link h3, .user-link p {
  margin:0;
}

.user-link h3 {
  font-size:1.5em;
  margin-bottom:0.5em;
}

.img-user-link {
  width: 9em;
  height: 9em;
  object-fit: cover;
  align-self: center;
  border-radius: 50%;
  border: 1px solid var(--accent1);
  margin-right: 2em;
}
